[{:facid "0",
  :guestcost "25",
  :initialoutlay "10000",
  :membercost "5",
  :monthlymaintenance "200",
  :name "Tennis Court 1"}
 {:facid "1",
  :guestcost "25",
  :initialoutlay "8000",
  :membercost "5",
  :monthlymaintenance "200",
  :name "Tennis Court 2"}
 {:facid "2",
  :guestcost "15.5",
  :initialoutlay "4000",
  :membercost "0",
  :monthlymaintenance "50",
  :name "Badminton Court"}
 {:facid "3",
  :guestcost "5",
  :initialoutlay "320",
  :membercost "0",
  :monthlymaintenance "10",
  :name "Table Tennis"}
 {:facid "4",
  :guestcost "80",
  :initialoutlay "4000",
  :membercost "35",
  :monthlymaintenance "3000",
  :name "Massage Room 1"}
 {:facid "5",
  :guestcost "80",
  :initialoutlay "4000",
  :membercost "35",
  :monthlymaintenance "3000",
  :name "Massage Room 2"}
 {:facid "6",
  :guestcost "17.5",
  :initialoutlay "5000",
  :membercost "3.5",
  :monthlymaintenance "80",
  :name "Squash Court"}
 {:facid "7",
  :guestcost "5",
  :initialoutlay "450",
  :membercost "0",
  :monthlymaintenance "15",
  :name "Snooker Table"}
 {:facid "8",
  :guestcost "5",
  :initialoutlay "400",
  :membercost "0",
  :monthlymaintenance "15",
  :name "Pool Table"}]
