[{:address "<nowhere>",
  :firstname "GUEST",
  :joindate "2012-07-01 00:00:00",
  :memid "0",
  :recommendedby "NULL",
  :surname "GUEST",
  :telephone "000 000-0000",
  :zipcode "0"}
 {:address "8 Bloomsbury Close; Boston",
  :firstname "Darren",
  :joindate "2012-07-02 12:02:05",
  :memid "1",
  :recommendedby "NULL",
  :surname "Smith",
  :telephone "555-555-5555",
  :zipcode "4321"}
 {:address "8 Bloomsbury Close; New York",
  :firstname "Tracy",
  :joindate "2012-07-02 12:08:23",
  :memid "2",
  :recommendedby "NULL",
  :surname "Smith",
  :telephone "555-555-5555",
  :zipcode "4321"}
 {:address "23 Highway Way; Boston",
  :firstname "Tim",
  :joindate "2012-07-03 09:32:15",
  :memid "3",
  :recommendedby "NULL",
  :surname "Rownam",
  :telephone "844 693-0723",
  :zipcode "23423"}
 {:address "20 Crossing Road; New York",
  :firstname "Janice",
  :joindate "2012-07-03 10:25:05",
  :memid "4",
  :recommendedby "1",
  :surname "Joplette",
  :telephone "833 942-4710",
  :zipcode "234"}
 {:address "1065 Huntingdon Avenue; Boston",
  :firstname "Gerald",
  :joindate "2012-07-09 10:44:09",
  :memid "5",
  :recommendedby "1",
  :surname "Butters",
  :telephone "844 078-4130",
  :zipcode "56754"}
 {:address "3 Tunisia Drive; Boston",
  :firstname "Burton",
  :joindate "2012-07-15 08:52:55",
  :memid "6",
  :recommendedby "NULL",
  :surname "Tracy",
  :telephone "822 354-9973",
  :zipcode "45678"}
 {:address "6 Hunting Lodge Way; Boston",
  :firstname "Nancy",
  :joindate "2012-07-25 08:59:12",
  :memid "7",
  :recommendedby "4",
  :surname "Dare",
  :telephone "833 776-4001",
  :zipcode "10383"}
 {:address "3 Bloomsbury Close; Reading",
  :firstname "Tim",
  :joindate "2012-07-25 16:02:35",
  :memid "8",
  :recommendedby "3",
  :surname "Boothe",
  :telephone "811 433-2547",
  :zipcode "00234"}
 {:address "5 Dragons Way; Winchester",
  :firstname "Ponder",
  :joindate "2012-07-25 17:09:05",
  :memid "9",
  :recommendedby "6",
  :surname "Stibbons",
  :telephone "833 160-3900",
  :zipcode "87630"}
 {:address "52 Cheshire Grove; Winchester",
  :firstname "Charles",
  :joindate "2012-08-03 19:42:37",
  :memid "10",
  :recommendedby "1",
  :surname "Owen",
  :telephone "855 542-5251",
  :zipcode "28563"}
 {:address "976 Gnats Close; Reading",
  :firstname "David",
  :joindate "2012-08-06 16:32:55",
  :memid "11",
  :recommendedby "4",
  :surname "Jones",
  :telephone "844 536-8036",
  :zipcode "33862"}
 {:address "55 Powdery Street; Boston",
  :firstname "Anne",
  :joindate "2012-08-10 14:23:22",
  :memid "12",
  :recommendedby "9",
  :surname "Baker",
  :telephone "844-076-5141",
  :zipcode "80743"}
 {:address "103 Firth Avenue; North Reading",
  :firstname "Jemima",
  :joindate "2012-08-10 14:28:01",
  :memid "13",
  :recommendedby "NULL",
  :surname "Farrell",
  :telephone "855 016-0163",
  :zipcode "57392"}
 {:address "252 Binkington Way; Boston",
  :firstname "Jack",
  :joindate "2012-08-10 16:22:05",
  :memid "14",
  :recommendedby "1",
  :surname "Smith",
  :telephone "822 163-3254",
  :zipcode "69302"}
 {:address "264 Ursula Drive; Westford",
  :firstname "Florence",
  :joindate "2012-08-10 17:52:03",
  :memid "15",
  :recommendedby "9",
  :surname "Bader",
  :telephone "833 499-3527",
  :zipcode "84923"}
 {:address "329 James Street; Reading",
  :firstname "Timothy",
  :joindate "2012-08-15 10:34:25",
  :memid "16",
  :recommendedby "13",
  :surname "Baker",
  :telephone "833-941-0824",
  :zipcode "58393"}
 {:address "5 Impreza Road; Boston",
  :firstname "David",
  :joindate "2012-08-16 11:32:47",
  :memid "17",
  :recommendedby "13",
  :surname "Pinker",
  :telephone "811 409-6734",
  :zipcode "65332"}
 {:address "4 Nunnington Place; Wingfield; Boston",
  :firstname "Matthew",
  :joindate "2012-08-19 14:55:55",
  :memid "20",
  :recommendedby "5",
  :surname "Genting",
  :telephone "811 972-1377",
  :zipcode "52365"}
 {:address "64 Perkington Lane; Reading",
  :firstname "Anna",
  :joindate "2012-08-26 09:32:05",
  :memid "21",
  :recommendedby "1",
  :surname "Mackenzie",
  :telephone "822 661-2898",
  :zipcode "64577"}
 {:address "85 Bard Street; Bloomington; Boston",
  :firstname "Joan",
  :joindate "2012-08-29 08:32:41",
  :memid "22",
  :recommendedby "16",
  :surname "Coplin",
  :telephone "822 499-2232",
  :zipcode "43533"}
 {:address "12 Bullington Lane; Boston",
  :firstname "Ramnaresh",
  :joindate "2012-09-01 08:44:42",
  :memid "24",
  :recommendedby "15",
  :surname "Sarwin",
  :telephone "822 413-1470",
  :zipcode "65464"}
 {:address "976 Gnats Close; Reading",
  :firstname "Douglas",
  :joindate "2012-09-02 18:43:05",
  :memid "26",
  :recommendedby "11",
  :surname "Jones",
  :telephone "844 536-8036",
  :zipcode "11986"}
 {:address "3 Burkington Plaza; Boston",
  :firstname "Henrietta",
  :joindate "2012-09-05 08:42:35",
  :memid "27",
  :recommendedby "20",
  :surname "Rumney",
  :telephone "822 989-8876",
  :zipcode "78533"}
 {:address "437 Granite Farm Road; Westford",
  :firstname "David",
  :joindate "2012-09-15 08:22:05",
  :memid "28",
  :recommendedby "NULL",
  :surname "Farrell",
  :telephone "855 755-9876",
  :zipcode "43532"}
 {:address "55 Jagbi Way; North Reading",
  :firstname "Henry",
  :joindate "2012-09-17 12:27:15",
  :memid "29",
  :recommendedby "2",
  :surname "Worthington-Smyth",
  :telephone "855 894-3758",
  :zipcode "97676"}
 {:address "641 Drudgery Close; Burnington; Boston",
  :firstname "Millicent",
  :joindate "2012-09-18 19:04:01",
  :memid "30",
  :recommendedby "2",
  :surname "Purview",
  :telephone "855 941-9786",
  :zipcode "34232"}
 {:address "33 Cheerful Plaza; Drake Road; Westford",
  :firstname "Hyacinth",
  :joindate "2012-09-18 19:32:05",
  :memid "33",
  :recommendedby "NULL",
  :surname "Tupperware",
  :telephone "822 665-5327",
  :zipcode "68666"}
 {:address "5 Bullington Lane; Boston",
  :firstname "John",
  :joindate "2012-09-19 11:32:45",
  :memid "35",
  :recommendedby "30",
  :surname "Hunt",
  :telephone "899 720-6978",
  :zipcode "54333"}
 {:address "Crimson Road; North Reading",
  :firstname "Erica",
  :joindate "2012-09-22 08:36:38",
  :memid "36",
  :recommendedby "2",
  :surname "Crumpet",
  :telephone "811 732-4816",
  :zipcode "75655"}
 {:address "3 Funktown; Denzington; Boston",
  :firstname "Darren",
  :joindate "2012-09-26 18:08:45",
  :memid "37",
  :recommendedby "NULL",
  :surname "Smith",
  :telephone "822 577-3541",
  :zipcode "66796"}]
